---
import Layout from "../layouts/Layout.astro";
import ArrowLeft from "@astropub/icons/ArrowLeft";
---

<Layout title="Gean Dev Pre TOI19">
  <main class="w-full text-white bg-slate-800">
    <div class="h-screen" id="greet">
      <div class="h-full flex justify-center items-center flex-col">
        <h1 class="text-5xl font-bold">
          Pre TOI19 by <span class="text-orange-500"
            ><a
              href="https://github.com/gean-dev"
              target="_blank"
              rel="noopener">Gean Dev</a
            ></span
          >
        </h1>
        <h2 class="text-3xl line-through pt-4">
          Admin <span class="text-red-500"
            ><a href="https://otog.cf" target="_blank" rel="noopener">OTOG©</a
            ></span
          >
        </h2>
        <div class="text-2xl pt-3">
          <p>
            จัดขึ้นใน
            <span
              ><a
                href="https://www.timeanddate.com/worldclock/fixedtime.html?msg=Pre+TOI19+by+Gean+Dev&iso=20230507T19&p1=1049&ah=3"
                target="_blank"
                rel="noopener">วันอาทิตย์นี้ เวลา 19:00-22:00 น.</a
              ></span
            >
            <span><a href="#about">😱</a></span>
          </p>
        </div>
      </div>
    </div>

    <div class="h-screen" id="about">
      <div class="h-full flex flex-col justify-center items-center">
        <h2 class="text-3xl font-bold">
          ราย<span class="text-blue-400">ละเอีย</span>ด
        </h2>
        <p class="text-2xl">
          มีโจทย์ 3 ข้อ แต่ละข้<span class="text-teal-400">อมีคะแนนเ</span
          >ท่ากันที่ <span class="text-yellow-500"
            ><a href="#people">💯</a> คะแ</span
          >นน
        </p>
      </div>
    </div>

    <div class="h-screen" id="people">
      <div class="h-full flex flex-col justify-center items-center">
        <h2 class="text-3xl font-bold">
          Problems ถูก <span class="text-cyan-300">provided</span> โดย
        </h2>
        <p class="text-2xl pt-1 text-red-500 font-bold">ttamx</p>
        <h2 class="text-3xl font-bold pt-3">
          โจทย์ had been <span class="text-pink-300">ทดสอบed</span> by
        </h2>
        <p class="text-2xl pt-1 font-bold text-purple-400">peteza</p>
        <p class="text-2xl pt-1 font-bold text-green-500">Hydrolyzed~</p>
        <p class="text-2xl pt-1 font-bold text-cyan-500">pakpim</p>
        <h2 class="text-3xl font-bold pt-3 text-slate-800">Sponsored โดย</h2>
        <a href="#register"
          ><p class="text-2xl pt-1 font-bold text-slate-800">Anon-136</p></a
        >
      </div>
    </div>

    <div class="h-screen" id="register">
      <div class="h-full flex flex-col justify-center items-center">
        <h2 class="text-3xl font-bold">
          ณ ระบบ <span class="text-[#f6c43d]">Cod</span><span
            class="text-[#1789CA]"
            >efor<span class="text-[#da2828]">ces</span>
          </span>
        </h2>
        <div class="pt-3 text-2xl flex flex-row">
          <p class="text-green-400 py-1">รับทราบ</p>
          <p>&nbsp;</p>
          <div>
            <button class="rounded-md bg-cyan-600 px-4 py-1">
              <a
                href="https://geandev.contest.codeforces.com/"
                target="_blank"
                rel="noopener"
              >
                <p class="text-white">รู้เรื่อง</p>
              </a>
            </button>
          </div>
          <a href="#gean"
            ><ArrowLeft
              width={30}
              fill="orange"
              class="pl-1"
              stroke-width="30"
            /></a
          >
        </div>
      </div>
    </div>
    <div class="h-screen" id="gean">
      <div class="h-full flex flex-col items-center">
        <div class="h-full flex items-center">
          <h1 class="text-3xl font-bold">
            <span><a href="#greet">อ้าว</a></span>โดน<span
              class="text-purple-400"
              ><a href="https://otog.cf/profile/1857">เกียน</a></span
            >
          </h1>
        </div>
        <div class="mb-5">
          <p class="text-xl">
            Made with ❤️ by <a href="https://github.com/gean-dev">Gean Dev</a>
          </p>
        </div>
      </div>
    </div>
  </main>
</Layout>
